# Petal Power Inventory
Youâ€™re the lead data analyst for a chain of gardening stores called Petal Power. Help them analyze their inventory!

If you get stuck during this project or would like to see an experienced developer work through it, click **"Get Unstuck"** to see a **project walkthrough video.**

## Answer Customer Emails

### Task 1
Data for all of the locations of Petal Power is in the file `inventory.csv`. Load the data into a DataFrame called `inventory`.

In [14]:
import pandas as pd

inventory = pd.read_csv('inventory.csv')

### Task 2
Inspect the first 10 rows of `inventory`.

In [21]:
print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

### Task 3
The first 10 rows represent data from your Staten Island location. Select these rows and save them to `staten_island`.

In [27]:
staten_island = inventory.iloc[:10,:]
print(f'\n\n\ntask 3\n{staten_island}')

task 3
        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

### Task 4
A customer just emailed you asking what products are sold at your Staten Island location. Select the column `product_description` from `staten_island` and save it to the variable `product_request`.

In [30]:
product_request = staten_island.product_description

### Task 5
Another customer emails to ask what types of seeds are sold at the Brooklyn location.

Select all rows where `location` is equal to `Brooklyn` and `product_type` is equal to `seeds` and save them to the variable `seed_request`.

In [33]:
seed_request = inventory.loc[(inventory.location == 'Brooklyn') & (inventory.product_type == 'seeds')]
seed_request.reset_index(drop = True, inplace = True)
print(f'\n\n\ntask 5\n{seed_request}')

task 5
   location product_type product_description  quantity  price
0  Brooklyn        seeds               daisy        50   6.99
1  Brooklyn        seeds          calla lily         0  19.99
2  Brooklyn        seeds              tomato         0  13.99

## Inventory

## Task 6

Add a column to `inventory` called `in_stock` which is True if `quantity` is greater than 0 and `False` if `quantity` equals 0.

In [37]:
inventory['in_stcok'] = inventory.apply(lambda row: True if row.quantity > 0 else False, axis = 1)
print(f'\n\n\ntask 6\n{inventory}')

task 6
         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stcok
0       True
1       True
2       True
3       True
4      False
5       True
6       True
7       True
8      False
9       True
10      True
11     False
12     False
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21      True
22      True
23      True
24      True
25      True
26     False
27      True
28      True

## Task 7
Petal Power wants to know how valuable their current inventory is.

Create a column called `total_value` that is equal to `price` multiplied by `quantity`.

In [40]:
inventory['total_value'] = inventory.price * inventory.quantity
print(f'\n\n\ntask 7\n{inventory}')

task 7
         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stcok  total_value
0       True        27.96
1       True       919.54
2       True      1189.15
3       True        55.96
4      False         0.00
5       True      1859.07
6       True       961.26
7       True       191.92
8      False         0.00
9       True       211.47
10      True       349.50
11     False         0.00
12     False         0.00
13      True       209.85
14      True      7379.18
15      True       719.64
16      True      1039.20
17      True      1823.24
18      True        89.95
19      True       103.74
20      True       398.43
21      True      1899.05
22      True       629.55
23      True       293.79
24      True      8819.02
25      True       519.74
26     False         0.00
27      True       383.84
28      True      1565.13

### Task 8
The Marketing department wants a complete description of each product for their catalog.

The following lambda function combines product_type and `product_description` into a single string:

![image-1](Codecademy_image-1.png)

Paste this function into `script.py`.

In [47]:
combine_lambda = lambda row: f'{row.product_type} - {row.product_description}'

### Task 9
Using `combine_lambda`, create a new column in inventory called `full_description` that has the complete description of each product.

In [50]:
inventory['full_description'] = inventory.apply(combine_lambda, axis = 1)
print(f'\n\n\ntask 9\n{inventory}')

task 9
         location  product_type         product_description  quantity  price  \
0   Staten Island         seeds                       daisy         4   6.99
1   Staten Island         seeds                  calla lily        46  19.99
2   Staten Island         seeds                      tomato        85  13.99
3   Staten Island  garden tools                        rake         4  13.99
4   Staten Island  garden tools                 wheelbarrow         0  89.99
5   Staten Island  garden tools                       spade        93  19.99
6   Staten Island  pest_control               insect killer        74  12.99
7   Staten Island  pest_control                 weed killer         8  23.99
8   Staten Island       planter  20 inch terracotta planter         0  17.99
9   Staten Island       planter      8 inch plastic planter        53   3.99
10       Brooklyn         seeds                       daisy        50   6.99
11       Brooklyn         seeds                  calla lily         0  19.99
12       Brooklyn         seeds                      tomato         0  13.99
13       Brooklyn  garden tools                        rake        15  13.99
14       Brooklyn  garden tools                 wheelbarrow        82  89.99
15       Brooklyn  garden tools                       spade        36  19.99
16       Brooklyn  pest_control               insect killer        80  12.99
17       Brooklyn  pest_control                 weed killer        76  23.99
18       Brooklyn       planter  20 inch terracotta planter         5  17.99
19       Brooklyn       planter      8 inch plastic planter        26   3.99
20         Queens         seeds                       daisy        57   6.99
21         Queens         seeds                  calla lily        95  19.99
22         Queens         seeds                      tomato        45  13.99
23         Queens  garden tools                        rake        21  13.99
24         Queens  garden tools                 wheelbarrow        98  89.99
25         Queens  garden tools                       spade        26  19.99
26         Queens  pest_control               insect killer         0  12.99
27         Queens  pest_control                 weed killer        16  23.99
28         Queens       planter  20 inch terracotta planter        87  17.99

    in_stcok  total_value                      full_description
0       True        27.96                         seeds - daisy
1       True       919.54                    seeds - calla lily
2       True      1189.15                        seeds - tomato
3       True        55.96                   garden tools - rake
4      False         0.00            garden tools - wheelbarrow
5       True      1859.07                  garden tools - spade
6       True       961.26          pest_control - insect killer
7       True       191.92            pest_control - weed killer
8      False         0.00  planter - 20 inch terracotta planter
9       True       211.47      planter - 8 inch plastic planter
10      True       349.50                         seeds - daisy
11     False         0.00                    seeds - calla lily
12     False         0.00                        seeds - tomato
13      True       209.85                   garden tools - rake
14      True      7379.18            garden tools - wheelbarrow
15      True       719.64                  garden tools - spade
16      True      1039.20          pest_control - insect killer
17      True      1823.24            pest_control - weed killer
18      True        89.95  planter - 20 inch terracotta planter
19      True       103.74      planter - 8 inch plastic planter
20      True       398.43                         seeds - daisy
21      True      1899.05                    seeds - calla lily
22      True       629.55                        seeds - tomato
23      True       293.79                   garden tools - rake
24      True      8819.02            garden tools - wheelbarrow
25      True       519.74                  garden tools - spade
26     False         0.00          pest_control - insect killer
27      True       383.84            pest_control - weed killer
28      True      1565.13  planter - 20 inch terracotta planter